html,
body {
  height: 100%;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 2fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}
.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.grid > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.grid > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.grid > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.grid > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.grid > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.grid > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.grid > *:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.grid > *:nth-child(12) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
.icon {
  width: 16px;
  height: 16px;
}
.section-item {
  padding: 1rem;
}
.section-item h2 {
  color: #517484;
  font-size: 1.2rem;
}
.banner {
  background-color: #121213;
  padding: 1.5rem 3rem;
}
.banner > .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0px 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 0px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.banner > .parent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.banner > .parent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.banner > .parent > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.banner > .parent > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.banner > .parent #profile-name {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  color: #eaeaea;
}
.banner > .parent #profile-email {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
  color: #eaeaea;
}
.banner > .parent #profile-email img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.25rem;
}
.banner > .parent #profile-image {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner > .parent #profile-image .banner__image {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
}
.profile p {
  width: 100%;
}
.work-experience .work-experience__item {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.work-experience .work-experience__item .work-experience__item__header__date__location {
  font-size: 0.9rem;
}
.work-experience .work-experience__item .work-experience__item__header__date__location .work-experience__item__header__date__start,
.work-experience .work-experience__item .work-experience__item__header__date__location .work-experience__item__header__date__end {
  display: inline-block;
  width: auto;
}
.work-experience .work-experience__item .work-experience__item__header__job-title,
.work-experience .work-experience__item .work-experience__item__header__company {
  font-weight: bold;
  font-size: 1.05rem;
}
.work-experience .work-experience__item .work-experience__item__header__desc {
  margin-left: 1.1rem;
  display: list-item;
}
.hobbies .hobby__item {
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hobbies .hobby__item .hobby__item-icon {
  width: 32px;
  height: 32px;
  margin: auto;
}
.hobbies .hobby__item .hobby__item-icon img {
  width: 100%;
  height: 100%;
}
